export PROJECT_NAME="project_a"
export INSTANCE_ID=$(pwd | shasum -a 1 | awk '{print $1}' | cut -c 1-12) # Used to define docker volume path
export COMPOSE_PROJECT_NAME=${PROJECT_NAME}_${INSTANCE_ID}

export ELASTICSEARCH_URL="http://localhost:9200"
export DIGITAL_GARDEN_NAME="Stéphane Klein"
