BODY {
    max-width: 935px;
    padding: 0 1em;
    margin: 0 auto;

    BLOCKQUOTE {
        margin: 1em 0;
        padding: 0.5rem 1.5rem;
        border: 1px solid #bbb;
        background: #f8f8f8;
    }

    PRE {
        padding: 1rem 1.5rem;
        border: 1px solid #bbb;
        background: #f8f8f8;
    }

    CODE:not(PRE CODE) {
        padding: 0.2em 0.4em;
        margin: 0;
        font-size: 85%;
        white-space: break-space;
        background-color: #afb8c133;
    }

    IMG {
        max-width: 100%;
    }
}

.search-tags-panel {
    display: flex;
    width: 100%;
    margin: 1em 0;
    font-size: 0.7em;

    > UL {
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 0.5em;
        flex-wrap: wrap;

        > LI {
            display: inline-block;
            padding: 0.2em 0;
            border: 1px solid transparent;
            &.tag {
                padding: 0.2em 0.4em;
                border-color: #aaa;
            }

            > A {
                white-space: nowrap;
                text-decoration: none;
            }
        }
    }
}
.search-tags-panel:not(.display-more-tags) {
    UL {
        max-height: 2em;
        overflow: hidden;

        > LI.overflow-item {
            display: none!important;
        }
    }
}
