BODY {
    max-width: 935px;
    padding: 0 1em;
    margin: 0 auto;

    BLOCKQUOTE {
        margin: 1em 0;
        padding: 0.5rem 1.5rem;
        border: 1px solid #bbb;
        background: #f8f8f8;
    }

    PRE {
        padding: 1rem 1.5rem;
        border: 1px solid #bbb;
        background: #f8f8f8;
    }

    CODE:not(PRE CODE) {
        padding: 0.2em 0.4em;
        margin: 0;
        font-size: 85%;
        white-space: break-space;
        background-color: #afb8c133;
    }

    IMG {
        max-width: 100%;
    }

    EM {
        background-color: yellow;
        font-style: italic;
        padding: 0.2em;
        border-radius: 0.2em;
    }
}
